css/style.scss
sass/test.scss
sass/partials/_cards.scss
sass/partials/_config.scss
sass/partials/_utilities.scss
css/style.css
test.xml
sass/partials/_responsive.scss
sass/partials/_rightside.scss
sass/partials/_responsive.scss
sass/partials/_rightside.scss
chykap/writeup.txt
sass/partials/_roadmap.scss
